<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>oldboy博客园</title>
    <link rel="stylesheet" href="/static/plugin/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugin/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<div class="head">
    <div class="pg-header">
        <div class="logo left">Amanda的博客</div>
        <div class="avatar right" style="position: relative">
            <img style="width: 40px;height: 40px;" src="/static/avatar/1.jpg">
            <div class="user-info">
                <a>个人资料</a>
                <a>注销</a>
            </div>
        </div>
        <div class="rmenus right">
            <a><i class="fa fa-commenting-o" aria-hidden="true"></i> 消息</a>
            <a><i class="fa fa-envelope-o" aria-hidden="true"></i> 邮件</a>
            <a href=""><i class="fa fa-user" aria-hidden="true"></i>管理</a>
        </div>
    </div>
</div>
<div class="content">
    <div class="main-content">
        <div class="content-L">
            <div class="item">
                <div class="title"><a href="">教育想刷卡缴费可好看开大会</a></div>
                <div class="avatar"><img src="../static/avatar/1.jpg"></div>
                <div class="article">
                    摘要: 原生ajax Ajax主要就是使对象来完成请求的操作，该对象在主流浏览器中均存在(除早起的IE)，Ajax首次出现IE5.5中存在（ActiveX控件）。
                    XmlHttpRequest对象介绍
                    <a href="">阅读全文</a>
                </div>
                <div class="info">
                    <a href="">邹润成</a>
                    <span>发布于</span>
                    <i>2017-06-3</i>
                    <a href="">踩</a>
                    <a href="">赞</a>
                </div>
            </div>
            <div class="item">
                <div class="title"><a href="">教育想刷卡缴费可好看开大会</a></div>
                <div class="avatar"><img src="../static/avatar/1.jpg"></div>
                <div class="article">
                    摘要: 原生ajax Ajax主要就是使对象来完成请求的操作，该对象在主流浏览器中均存在(除早起的IE)，Ajax首次出现IE5.5中存在（ActiveX控件）。
                    XmlHttpRequest对象介绍
                    <a href="">阅读全文</a>
                </div>
                <div class="info">
                    <a href="">邹润成</a>
                    <span>发布于</span>
                    <i>2017-06-3</i>
                    <a href="">踩</a>
                    <a href="">赞</a>
                </div>
            </div>

            <div class="item"></div>
        </div>
        <div class="content-R">
            <div class="top-band">
                 <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                      </div>
                      <div class="panel-body">
                        Panel content
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/index.js"></script>
</body>













</html>